#modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
#modal-window-confirm-delete--container {
    z-index: 10;
    background-color: var(--color-accent);
    margin: 50vh auto;
    width: max-content;
    padding: 1rem;
    height: max-content;
}
#modal-window--close-btn:hover {
    color: grey;
}
#modal-window--close-btn:hover {
    color: red;
}

#modal-window-edit--container {
    background-color: var(--color-bg);
    z-index: 5;
    margin: 40vh auto;
    width: max-content;
    padding: 1rem;
    height: max-content;
}

#modal--alarm-edit--error-message {
    color: green;
}

.invalid-alarmTime,
#modal--alarm-edit--error-message.invalid-alarmTime {
    color: rgb(204, 0, 0);
}

.hide {
    display: none;
}

.modal-message {
    color: var(--color-accent-light);
}
