#modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
#modal-window-confirm-delete--container {
    display: none;
    z-index: 10;
    background-color: turquoise;
    width: 30%;
    height: 20%;
}
#modal-window--close-btn:hover {
    color: grey;
}
#modal-window--close-btn:hover {
    color: red;
}

#modal-window-edit--container {
    background-color: yellowgreen;
    display: none;
    z-index: 5;
    padding: 1em;
    width: auto;
    height: auto;
}

#modal--alarm-edit--error-message {
    color: green;
}

.invalid-alarmTime {
    color: rgb(204, 0, 0);
}

.hide {
    display: none;
}
