/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Silkscreen&display=swap");

/* General reset and fixing CSS variables*/
html {
    --text-font-family: "DynaPuff", cursive;
    --numbers-font-family: "Silkscreen", cursive;
    font-family: var(--text-font-family);
}

/* Global Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Default List style*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Stops animation while window is resized */
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

body {
    /* Default Font properties */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1rem;
    color: var(--color-neutral);

    /* Color Variables */
    --color-bg: hsla(184, 95%, 17%, 1);
    --color-bg-light: hsla(180, 100%, 22%, 1);
    --color-accent-light: hsla(32, 88%, 54%, 1);
    --color-accent: hsla(21, 96%, 43%, 1);
    --color-neutral: hsla(10, 50%, 91%, 1);
    --color-dark: rgb(19, 19, 19);
    --color-dark-lighter: rgba(85, 53, 16, 0.667);
    /* Global Resets*/
    margin: 0;
    padding: 0;

    background-color: var(--color-neutral);

    /* mobile first responsive grid layout. On mobile, have single column layout. */
    display: grid;
    gap: 1rem;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-areas:
        "header     header          header"
        "......     create-alarm    ......."
        "......     active-alarms   ......."
        "......     finished-alarms ......."
        "......     disabled-alarms ......."
        "footer     footer          footer";
}

/* At bigger screen sizes, we use two column layout*/
@media (min-width: 950px) {
    body {
        grid-template-columns: 1rem 1fr 1fr 1rem;
        grid-template-areas:
            "header     header          header          header"
            "......     create-alarm    create-alarm    ......."
            "......     active-alarms   active-alarms   ......."
            "......     finished-alarms disabled-alarms ......."
            "footer     footer          footer          footer";
    }
}

header {
    background-color: var(--color-bg);
    margin: 0px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    grid-area: header;
}
.gridarea--create-alarm {
    grid-area: create-alarm;
    padding: 1rem;
    margin: 0.5rem;
}
.gridarea--create-alarm input {
    margin-right: 2rem;
}
.gridarea--alarms-active {
    grid-area: active-alarms;
    padding: 1rem;
    margin: 0.5rem;
}
.gridarea--alarms-finished {
    grid-area: finished-alarms;
    padding: 1rem;
    margin: 0.5rem;
}
.gridarea--alarms-disabled {
    grid-area: disabled-alarms;
    padding: 1rem;
    margin: 0.5rem;
}
footer {
    grid-area: footer;
    background-color: var(--color-bg);
    margin: 0px;
    height: 2rem;
}

#logo {
    margin: 0;
    color: var(--color-accent);
    font-weight: bold;
    font-size: 2rem;
}

/*Text related classes*/
.text-time {
    font-family: var(--numbers-font-family);
}
.time--alarm--dmy {
    font-family: var(--numbers-font-family);
    font-size: 0.85rem;
}
.text-message {
    font-family: var(--numbers-font-family);
}
.text-heading {
    color: var(--color-accent-light);
    /*font-family: var(--text-font-family);*/
    font-size: 1.25rem;
}
.text-btn {
    font-family: var(--text-font-family);
    font-size: 0.85rem;
}
.lbl-remainingTime {
    font-size: 0.75rem;
}

/*Flex related utility classes*/
.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*Grid related utility class*/
.grid-view {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/*Utility class to give bg-color, border radius, box shadow to elements. 
Applied on each alarm, the alarm lists, etc. CSS variables are given value in 
respective sections, or a default value is used as mentioned below.*/
.bg-color-radius-shadow {
    background-color: var(--local-bgColor, var(--color-bg-light));
    border-radius: var(--local-bgRadius, 0);
    box-shadow: 0px 0px var(--local-boxShadow-blur, 5px) var(--local-boxShadow-radius, 5px)
        var(--local-boxShadow-color, rgba(47, 47, 47, 0.259));
    margin: var(--local-margin, 5px);
    padding: var(--local-padding, 5px);
    min-height: 5rem;
}
/*Utility class for hover effects.*/
.hoverable:hover {
    cursor: var(--local-hoverCursor, pointer);
    background-color: var(--local-hoverBgColor, var(--color-accent));
}
/*Utility class for hiding display of entities (like uuid, error msgs, etc)..*/
.hidden {
    display: none;
}

/*Alarm list item's styling.*/
.li--alarm {
    background-color: var(--color-accent-light);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    color: var(--color-dark);
    width: 200px;
}
/*Time section in alarm, uses bg-color-radius-shadow utility class. */
.time--div {
    --local-bgColor: rgba(37, 85, 53, 0.295);
    --local-boxShadow-blur: 0px;
    --local-boxShadow-radius: 0px;
    --local-bgRadius: 5px;
}
/*Remaining time section in alarm, uses bg-color-radius-shadow utility class. */
.div-remainingTime {
    --local-bgColor: var(--color-dark-lighter);
    --local-boxShadow-blur: 0px;
    --local-boxShadow-radius: 0px;
    --local-bgRadius: 5px;
}
